*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Karma", sans-serif;
}
.container{
    max-width: 1200px;
    margin:auto;
   padding: 0 16px 8px; 
    /* padding: 8px 16px; */
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
    max-width: 1200px;
    margin: auto;
}
nav{
 padding: 16px 0;
 text-align: center;
 height: 90px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}
nav ul li{
    list-style-type: none;
    padding: 0;
    text-transform: capitalize;
}

#nav-icon{
    padding: 8px 16px;
}
#nav-icon i {
    font-size: 18px;       
}
#nav-icon:hover {
    background-color: rgb(187, 182, 182);
    cursor: pointer;  
}
nav ul li h4{
    font-weight: 400;
}
/* done with the header and nav parts. */
/* now time to go with the styles of the main and its contents */

/* main part styles */

main{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* the first sections styles of main */
#first-main-section{
    display: flex;
    padding:16px 8px;
}
.first-section-item-containers{
    width: 100%;
    padding: 0 8px;
}
.first-section-item-containers img{
    width: 100%;
}
.first-section-item-containers h3{
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    margin: 10px 0;
    font-weight: 400;
}
.first-section-item-containers p{
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0;
    text-align: center;
}
/* the first section styles of main */

/* the second section styles of main */

#second-main-section{
    display: flex;
    padding: 16px 8px;
}
.second-section-item-containers{
    width: 100%;
    padding: 0 8px;
}
.second-section-item-containers img{
    width: 100%;
}
.second-section-item-containers h3{
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    margin: 10px 0;
    font-weight: 400;
}
.second-section-item-containers p{
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0;
    text-align: center;
}

/* the second section styles of main */

/* the third section styles of main */

#third-main-section{
    padding: 32px 0;
    text-align: center;
}
.third-section-items{
    padding: 8px 16px;
    vertical-align: middle;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.third-section-items i {
    font-size: 9px !important; /* Forcefully apply the font size */
}
.third-section-items:hover{
    background-color: black;
    color: white;
}
.third-section-item-containers :nth-child(2){
    background-color: black;
    color: white;
}
.third-section-item-containers :nth-child(2):hover{
    color: black;
    background-color: rgb(207, 205, 205);
}
/* the third section styles of main */

/* horizontal line design styles */
hr{
    margin: 20px 0;
    border: 1px solid #eee;
}
   
/* horizontal line design styles */

/* fourth section of main */
#fourth-main-section{
    text-align: center;
    padding: 32px 16px;
}
#fourth-main-section h3{
    margin: 10px 0 30px;
    font-weight: 400;
    font-size: 24px;
}
.fourth-section-img-container{
    max-width: 100%;
    width: 800px;
    margin: auto;
}
.fourth-section-img-container img{
    width: 100%;
}
.fourth-section-text-container{
    padding: 32px 0;
    width: 100%;
}
.fourth-section-text-container h4{
    margin: 10px 0;
    font-size: 20px;
}
.fourth-section-text-container h6{
    margin: 10px 0;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
.fourth-section-text-container p{
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.5;
}
/* fourth section of main */

/* main part styles */

/* footer part styles */
footer{
    padding: 32px 8px;
    display: flex;
}
.footer-containers{
    padding: 0 8px;
    width: 33.3%;
}
.footer-containers h3{
    margin: 10px 0;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
.footer-containers p{
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0;
}
.footer-containers p > a{
    color: black;

}

/* footer second section */
.footer-containers ul li{
    padding: 16px;
    list-style-type: none;
    display: flex;
}
.footer-containers ul li:hover{
background-color: rgb(214, 206, 206);
}
.footer-containers ul li img{
    width: 50px;
    height: 50px;
    margin-right: 16px;
}
.footer-containers ul li span{
    display: inline-block;
}
#first-li-of-blog-post-of-footer{
    border-bottom: 1px solid #ddd;
}
/* footer second section */

/* footer third container */
.popular-tags-span-container{
    margin: 15px 0;
}
.popular-tags-span-items {
    display: inline-flex;
    align-items: center;      /* vertical center */
    justify-content: center;  /* horizontal center */
    padding: 0 8px;
    font-size: 12px;
    color: #fff;
    background-color: #616161;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.popular-tags-span-container :nth-child(1) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    font-size: 15px;
    color: #fff;
    background-color: #000;
    text-transform: capitalize;
    margin-bottom: 16px;
}

/* media query part */
@media (min-width:500px) and (max-width:600px){
    #first-main-section, #second-main-section{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
    .footer-containers{
        width: 100%;
    }

}
/* media query part */




/* footer third container */

/* footer part styles */
